a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
html,
body{
    height: 100%;
    margin: 0;  
}
body._lock{
    overflow: hidden;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #001731;
}


/* HEADER */


.header{
    display: flex;
    justify-content: space-between;
    padding: 16.5px 25px;
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 200;
    margin-right: 30px;
}
@media (max-width: 430px){
    .header__logo{
        margin-right: 15px;
    }
}
.header__nav {
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list li:not(:last-child){
    margin-right: 24px;
}
.header__link {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:hover{
    text-decoration: underline;
}
.header__buttons {
    display: flex;
    align-items: center;
}

.change-lang{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FBFCFF;
    padding-right: 4px;
    text-decoration: none;
    border: none;
    background-color: #001731;
}
@media (max-width: 450px){
    .change-lang{
        padding-right: 2px;
        font-size: 8px;
    }
}
.main-button {
    background: #398BFF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    transition: ease 0.5s;
}
.main-button:hover{
    background-color: #0754c1;
}
.header__button-start {
    margin-left: 24px;
    margin-right: 8px;
    padding: 8px 12px;
}
.header__button-start:hover{
    background-color: #0754c1;
}
.main-button-two{
    background: rgba(44, 130, 253, 0.15);
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #398BFF;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}
.main-button-two:hover{
    background: rgba(44, 130, 253, 0.1);
}
.header__sign {
    padding: 8px 12px;
}
@media (max-width: 577px){
    .header__sign{
        padding: 6px 8px;
        font-size: 11px;
    }
    .header__button-start{
        padding: 6px 8px;
        font-size: 11px;
    }
}

/* BURGER */
.menu__icon{
    display: none;
}
@media (max-width: 780px){
    .menu__icon{
        z-index: 200;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-left: 30px;
    }
    @media (max-width: 450px){
        .menu__icon{
            margin-left: 0px;
        }
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after{
        content: '';

    }
    .menu__icon::before{
        top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }  
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0, -50%);
    } 
    .menu__icon._active span{
        transform: scale(0) translate(0px, -50px);
    }
    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }.menu__icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__nav{
        z-index: 100;
        position: fixed;
        top: 0;
        left: -200%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.97);
        padding: 100px 30px 30px 30px;
        transition: left 0.5s ease 0s;
        overflow: auto;
    }
    @media (max-width:450px) {
        .header__nav{
            padding-left: 0px;
        }
    }
    .header__nav._active{
        left: 0;
    }
    .header__list:not(:last-child){
        margin: 0px 0px 30px 0px
    }
    .header__link{
        font-size: 24px;
    }
    @media (max-width: 690px){
        .header__link{
            font-size: 20px;
        }
    }
    @media (max-width: 523px){
        .header__link{
            font-size: 16px;
        }
    }
    @media (max-width: 450px){
        .header__link{
            font-size: 15px;
        }
    }
}
.main{
    flex: 1 1 auto;
}

.page__first {
    padding-bottom: 144px;
    max-height: 715px;
}
@media (max-width: 990px) {
    .page__first{
        padding-bottom: 87px;
    }
}
@media (max-width: 866px) {
    .page__first{
        padding-bottom: 0px;
    }
}

.page__first-body {
    margin-left: 120px;
}
@media (max-width: 1200px) {
    .page__first-body{
        margin-left: 60px;
    }
}
.ibg {
    position: relative;
    background-size: cover;
}
.ibg img{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    z-index: 0;
}
@media (max-width: 866px) {
    .ibg img{
        max-width: 350px;
    }
}
@media (max-width: 640px) {
    .ibg img{
        max-width: 300px;
    }
}
@media (max-width: 614px) {
    .ibg img{
        max-width: 260px;
        top: 50px;
    }
}
@media (max-width: 517px) {
    .ibg img{
        max-width: 250px;

    }
}
.page__first-title {
    position: relative;
    z-index: 20;
    font-weight: 700;
    font-size: 72px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    max-width: 715px;
    margin-top: 106px;
    margin-bottom: 34px;
}
@media (max-width:1242px) {
    .page__first-title {
        margin-top: 80px;
        font-size: 40px;
        max-width: 500px;
    }
}
@media (max-width:990px) {
    .page__first-title {
        margin-top: 40px;
        font-size: 40px;
        max-width: 400px;
    }
}
@media (max-width:720px) {
    .page__first-title {
        margin: 0px 0px 15px 0px;
        font-size: 30px;
        max-width: 300px;
    }
}
@media (max-width: 517px) {
    .page__first-title{
        font-size: 18px;
    }
}
.page__first-buttons {
    position: relative;
    z-index: 20;
    display: flex;
    margin-bottom: 36px;
    align-items: center;
}
@media (max-width:675px) {
    .page__first-buttons{
        margin-bottom: 15px;
        flex-direction: column;
        max-width: 100px;
        align-items: center;
        justify-content: center;
    }
}
.page__first-buttons span{
    margin: 0px 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.35);
}
@media (max-width:670px) {
    .page__first-buttons span {
        font-size: 13px;
    }
}
.page__first-start {
    padding: 15px 22px;
}
@media (max-width:990px) {
    .page__first-start {
        padding: 12px 15px;
    }
}
@media (max-width:720px) {
    .page__first-start {
        padding: 6px 8px;
        font-size: 14px;
    }
}
.page__first-take {
    padding: 15px 22px;
    text-align: center;
}
@media (max-width:990px) {
    .page__first-take {
        padding: 12px 15px;
    }
}
@media (max-width:720px) {
    .page__first-take {
        padding: 6px 8px;
        font-size: 14px;
    }
}
.page__first-info {
    position: relative;
    z-index: 20;
    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    color: #AAC0E0;
    max-width: 533px;
}
@media (max-width:1242px) {
    .page__first-info {
        max-width: 400px;
    }
}
@media (max-width:990px) {
    .page__first-info {
        font-size: 18px;
        max-width: 250px;
    }
}
@media (max-width:720px) {
    .page__first-info {
        font-size: 14px;
        max-width: 200px;
    }
}
.circle{
    position: absolute;
    width: 869px;
    height: 869px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(57, 139, 255, 0.324) 0%, rgba(57, 139, 255, 0.24) 20.83%, rgba(57, 139, 255, 0) 100%);
    opacity: 0.75;
    border-radius: 50%;
    transform: translate(0,-40%);
}
.page__two {
}
.container {
    background: #FFFFFF;
    padding: 0px 80px;
}
.page__two-container {
    display: flex;
    position: relative;
    z-index: 10;
}
@media (max-width:650px) {
    .page__two-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
.page__two-container iframe{
    position: relative;
    bottom: 50px;
    border-radius: 30px;
}
@media (max-width:869px) {
    .page__two-container iframe{
        bottom: 0px;
        margin: 20px 0;
    }
}
@media (max-width:650px) {
    .page__two-container iframe{
        bottom: 0px;
        margin: 20px 0 0 0;
    }
}

.page__two-info{
    max-width: 200px;
    margin-left: 112px;
    padding-top: 50px;
}
@media (max-width:760px) {
    .page__two-info{
        max-width: 200px;
        margin-left: 30px;
        padding-top: 15px;
    }
}
@media (max-width:650px) {
    .page__two-info{
        max-width: 400px;
        margin-left: 30px;
        padding-top: 15px;
    }
}
.page__two-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #001731;
    margin-bottom: 17px;
}
@media (max-width:760px) {
    .page__two-title{
        margin: 0 auto;
    }
}
@media (max-width:650px) {
    .page__two-title {
        font-size: 17px;
        letter-spacing: 0;
        color: #001731;
        margin-bottom: 0px;
        text-align: center;
    }
}
.page__two-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #001731;
    opacity: 0.75;
}
@media (max-width:650px) {
    .page__two-text {
        font-size: 13px;
        text-align: center;
    }
}
.page__two-text p:not(:last-child){
    margin-bottom: 15px;
}







.page__three {
    position: relative;
}

.page__three-container {
    display: flex;
    padding-bottom: 117px;
}
@media (max-width: 650px) {
    .page__three-container{
        align-items: center;
        justify-content: center;
    }
}
.features__body {
    position: relative;
    z-index: 10;
    max-width: 400px;
    margin-right: 100px;
}
.features-top {
}
.features-icon {
    margin-bottom: 24px;
}
.features-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #001731;
    margin-bottom: 24px;
}
.features__info {
}
.info {
}
.info__top {
}
.info__game {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #001731;
    margin-bottom: 41px;
    padding: 24px 28px 0px 28px;
    display: flex;
    align-items: center;
}
.info__icon {
    margin-right: 10px;
}
.info__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0.02em;
    color: rgba(0, 23, 49, 0.55);
    padding: 0px 28px 24px 28px;
}
.info__browse {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #001731;
    opacity: 0.75;
    margin-bottom: 14px;
    padding: 24px 28px;
    display:flex;
    align-items:center;
    position: relative;
}
.info__browse::before{
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1px;
    background-color: #001731;
    opacity: 0.1;
}
.info__browse::after{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #001731;
    opacity: 0.1;
}
.info__practice {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #001731;
    opacity: 0.75;
    margin-bottom: 14px;
    padding: 24px 28px;
    display:flex;
    align-items:center;
    position: relative;
}
.info__practice::after{
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #001731;
    opacity: 0.1;
}
.info__player {
    display: flex;
    margin-bottom: 35px;
}
.info__player-img {
    margin-right: 16px;
}
.info__player-text {
}
.info__player-talk {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: #001731;
    opacity: 0.75;
    margin-bottom: 8px;
}
.info__player-surname {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #001731;
}
.features__btn {
    padding: 15px 22px;
}
.page__three-img{
}
.page__three-img img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;  
}
@media (max-width: 1123px) {
    .page__three-img img{
        opacity: 0.3    ;
    }
}
















/* SECTION PRICE */
.pricing {
    
}
.pricing__container {
    padding-bottom: 108px;
}
.pricing__header-body {
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing__header {
    
}
.pricing__header-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #001731;
}
.pricing__header-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: rgba(0, 23, 49, 0.55);
}
.pricing__header-switch {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #398BFF;
}
.pricing__header-switch span{
    margin-right: 8px;
}
.pricing__header-switch span:last-child{
    color: rgba(0, 23, 49, 0.55);
    margin-left: 8px;
    margin-right: 0px;
}
.pricing__offers {
    display: flex;
    flex: 0 0 33.333%;
    padding: 0 -15px;
}
.pricing__card {
    padding: 28px 24px 0px 24px;
    margin: 0 15px;
}
.pricing__card-pro{
    color:#FFFFFF
}
.pricing__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #398BFF;
}
.pricing__card-title span{
    background: rgba(240, 71, 71, 0.1);
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #F04747;
    margin-left: 10px;
}
.pricing__card-title-pro{
    position: relative;
}
.pricing__card-title-pro img{
    position: absolute;
    right: -50px;
    width: 150px;
}
.pricing__card-title-pro span{
    color: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    padding: 4.5px 12px;
}
.price-discount {
    margin-top: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #F04747;
}
.pricing__card-price {
    font-size: 36px;
    line-height: 44.57px;
    font-weight: 700;
    margin-bottom: 8px;
}
.pricing__card-price-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #001731;
    margin-top: 32px;
}
.pricing__card-price span{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 23, 49, 0.55);
}
.pricing__card-price-pro{
    color:#FFFFFF
}
.pricing__card-price-pro span{
    color:#FFFFFF
}
.pricing__card-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #6A6A6A;
    margin-bottom: 22px;
}
.info-duration {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: rgba(0, 23, 49, 0.55);
}
.info-duration-pro{
    color:#FFFFFF;
}
.pricing__card-info-pro{
    color:#FFFFFF;
}
.pricing__card-button {
    margin-bottom: 48px;
    padding: 15px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;

}
.pricing__card-function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
}
.pricing__card-function img{
    width: 32px;
}
.function-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: rgba(0, 23, 49, 0.55);
    flex: 1 1 auto;
    margin-left: 20px;
}
.function-text-pro{
    color:#FFFFFF;
}
.opacity {
    opacity: 0.5;
}
.margin{
    margin-bottom: 0px;
}
.pro{
    background: #031E3E;
    box-shadow: 0px 4px 50px rgba(57, 139, 255, 0.3);
    border-radius: 12px;
    color: #FFFFFF;
}
.pros{
    display: flex;
}
.pros__body{
    padding-top: 224px;
    padding-left: 112px;
}
.pros__body img{
    width: 34px;
    height: 34px;
    margin-bottom: 24px;
}
.pros__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.pros__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: #AAC0E0;
    margin-bottom: 32px;
}
.main-button {
}
.pros__btn {
    display: inline-flex;
    padding: 15px 22px;
}










/* Reviews */
.reviews {
}
.reviews__container {
    padding-top: 106px;
    padding-bottom: 178px;
}
.reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.reviews__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #001731;
}
.reviews__show a{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #398BFF;
    text-decoration: none;
}
.reviews__show a:hover{
    text-decoration: underline;
}
.reviews__comments {
    display: flex;
    flex: 0 1 33.33%;
    margin: -15px;
}
.comment {
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
    border-radius: 12px;
    margin: 15px;
}
.comment__header {
    display: flex;
}
.comment__avatar {
    margin-right: 16px;
}
.comment__info {
}
.comment__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #001731;
    margin-bottom: 8px;
}
.comment__prof {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(0, 23, 49, 0.3);
}
.comment__body {
}
.comment__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #001731;
    opacity: 0.75;
    margin-bottom: 24px;
}
.comment__grade {
    display: flex;
}
.comment__time {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(0, 23, 49, 0.3);
    flex: 1 1 auto;
}
.comment__stars {
}











/* Questions */
.questions {
}
.questions__container {
    padding-bottom: 100px;
}
.questions__container img{
    margin-bottom: 24px;
}
.questions-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #001731;
}
.questions__body {
    margin-top: 64px;
}
.question {
    display: flex;
    justify-content: space-between;
}
.question:not(:last-child){
    margin-bottom: 16px;
}
.question:last-child{
    margin-bottom: 30px;
}
.question__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #001731;
}
.questions__plus {
    font-weight: 500;
    font-size: 20px;
    line-height: 165%;
    color: #737F8E;
}
.questions__plus span{
    color: #398BFF;
}














/* FOOTER */
.footer {
    
}
.container {
}
.footer__container {
    padding-top: 56px;
    background: #031E3E;
    padding-bottom: 24px;
}
.footer__cnt {
    max-width: 1064px;
    margin: 0 auto;
}
.footer__body {
    display: flex;
    justify-content: space-between;
}
.footer__company {
    max-width: 120px;
    flex: 1 1 120px;
}
.footer__title a{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.footer__title{
    margin-bottom: 24px;
}
.footer__link a{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer__link:not(:last-child){
    margin-bottom: 24px;
}
.footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer__subscribe {
    max-width: 388px;
}
.footer__form {
}
.footer__email {
}
.footer__btn{
    padding: 8px 12px;
}
.footer__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin-top: 66px;
}
.icons__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
}
.icons{
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inst{
    transform: translateY(4px);
}